*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header-top{
    background: linear-gradient(to left, #1f3450, #24486e, #255c8d, #1f72ae, #0089cf);
}
.container{
    color: white;
}
.baneshwor{
    padding: 5px;
}
.text{
    font-size: 14px;
}

.icons{
    text-align: right;
    padding: 7px;
}

.phon-num{
    padding-right: 15px;
}
.email{
    padding-left: 5px;
}
.phon-num{
    padding-left: 5px;
}
.icn{
    border: 1px solid white;
    display: inline-block;
    padding: 4px;
}
.icon-fb{
    background-color:#34558E;
    margin: 5px;
}
.icn-twitter{
    color: white;
    background-color: skyblue;
    margin: 5px;
}
.icn-linkdlin{
    color: white;
    background-color: rgb(6, 6, 133);
    margin: 5px;
}
.icn-insta{
    background-color: red;
    margin: 5px;
}
.icn-youtube{
    margin: 5px;
    background-color:   #006666;
}
/* .nav-bar{
    color:#2d4059;
} */
.dropdown:hover  .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    position: absolute;
    background: linear-gradient(to left, #1f3450, #24486e, #255c8d, #1f72ae, #0089cf);
    display: none;
    width: 200px;
  }
  .dropdown-txt{
    border-bottom: 1px solid white;
    padding-left: 5px;
    font-size: 14px;
    display: block;
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
  }
  .dropdown-txt:hover{
    color: white;
    text-decoration: none;
  }
  .nav-container{
    box-shadow: #1f3450;
  }
  .dropdown-txt:last-child{
    border: none;
  }
.btn-apply{
    color: white;
    border: 1px solid white;
    background: linear-gradient(to left, #1f3450, #24486e, #255c8d, #1f72ae, #0089cf);
    border-radius: 25px;
    margin: auto;
   
}
.nav-list{
    color: blue;
}

.carousel-caption{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
}
.heading{
    color: #255c8d;
    font-size: 33px;
}
.para{
    color: rgb(45, 42, 42);
    font-family: sans-serif;
    padding-top: 10px;
}
.btn-aboutus{
    color: white;
    background: linear-gradient(to left, #1f3450, #24486e, #255c8d, #1f72ae, #0089cf);
    border-radius: 25px;
    border: none;
    padding: 6px;
}
.youtube-link{
    padding: 20px;
}
.edu-text{
    padding: 20px;
}
.course{
    color: black;
    padding-top: 25px;
   text-align: center;
}
.buttons{
    padding-top: 20px;
}
.course-btn{
    background: linear-gradient(to left, #1f3450, #24486e, #255c8d, #1f72ae, #0089cf);
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 8px;
    margin-top: 7px;
    margin-right: 7px;
}
.destinaton{
    color: black;
    padding-top: 25px;
   text-align: center;
   font-size: 30px;
   margin-bottom: 40px;
}
.card-images{
    margin-top: 20px;
}
.title-txt{
    color: black;
    text-align: center;
}

.descript{
    color: blue;
    text-align: center;
}
.colleges{
    color: black;
    padding-top: 25px;
   text-align: center;
   font-size: 30px;
   margin-bottom: 40px;
}


.card-div{
    border: solid 1px #0089cf;
}
.city-txt{
    font-size: 17px;
    color: black;
}
.city-descript{
    color: #24486e;

}
.btn-details{
    background: linear-gradient(to left,  #24486e, #255c8d, #1f72ae, #0089cf);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}
.line{
    background: linear-gradient(to left,  #24486e, #255c8d, #1f72ae, #0089cf);
    text-align: center;
    height: 2px;
    width: 25px;

}
.data{
    color: black;
}
.form{
    border: solid 1px #0089cf;
    margin-top: 20px;
   
}
.submit{
    color: white;
    background: linear-gradient(to left, #1f3450, #24486e, #255c8d, #1f72ae, #0089cf);
    border: none;
    padding: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.awasar{
    font-weight: bold;
    color: black;
}
.date{
    color:#0089cf; ;
}

.rashika{
    color: black;
}
.bsc{
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
}
.nursing-para{
    font-weight: bold;
}
.nursing{
    border: 1px solid #0089cf ;
    padding: 20px;
    border-top: 5px solid #0089cf;
}
.top-footer{
    background: linear-gradient(to left, #1f3450, #24486e, #255c8d, #1f72ae, #0089cf);
    margin-top: 30px;
    /* padding: 150px; */
}
.link-div{
    padding-left: 8px;
}
.tag-a{
    color: white;
    /* text-decoration: none; */
}
.quick-link{
    border-bottom: 2px solid white ;

}
.location-icn{
    padding-left: 8px;
}
.contact-us{
    border-bottom: 1px solid white ;
    padding-bottom: 12px;
    padding-top: 12px;
}
.link{
    padding-top: 8px;
}
.quick-link{
    padding-bottom: 15px;
    padding-top: 15px;
}
.top-footer{
    padding: 30px;
}
.all-details{
    padding: 20px;
}
.about-college{
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: justify;
    color: white;
}
.footer{
    background-color: rgb(50, 48, 48);
    padding: 10px;
}
.span-txt{
    color: red;
}
.tag-a:hover{
    color: white;
    text-decoration: none;
}

